[![View on GitHub](https://img.shields.io/badge/GitHub-View_on_GitHub-blue?logo=GitHub)](https://github.com/khuyentran1401/Data-science/blob/master/python/functools%20example.ipynb)

[<img src="https://deepnote.com/buttons/launch-in-deepnote.svg">](https://deepnote.com/project/Data-science-hxlyJpi-QrKFJziQgoMSmQ/%2FData-science%2Fpython%2Ffunctools%20example.ipynb)

# functools.partial

In [5]:
from sklearn.datasets import load_wine
import pandas as pd 

X, y = load_wine(as_frame=True, return_X_y=True)
df = X.merge(y, left_index=True, right_index=True)
df.head(10)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0,0
8,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,0
9,13.86,1.35,2.27,16.0,98.0,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045.0,0

In [2]:
def get_count_above_threshold_per_col_df(
    threshold: str, column: str, df: pd.DataFrame
):
    return (df[column] > threshold).sum()

In [3]:
# Get number of rows above 98 in the magnesium column
get_count_above_threshold_per_col_df(98, 'magnesium', df)

82

In [ ]:
# Get number of rows above 13 in the alcohol column
get_count_above_threshold_per_col_df(13, 'alcohol', df)

92

In [8]:
from functools import partial

get_count_above_threshold_per_col = partial(
    get_count_above_threshold_per_col_df, df=df
)

In [ ]:
get_count_above_threshold_per_col(13, 'alcohol')

92

In [ ]:
get_count_above_threshold_per_col(13, 'magnesium')

178

In [9]:
get_count_above_threshold_magnesium = partial(
    get_count_above_threshold_per_col, column='magnesium'
)

In [10]:
get_count_above_threshold_magnesium(98)

82

In [11]:
get_count_above_threshold_magnesium(5)

178

# functools.singledispatch

In [74]:
import pandas as pd


def create_data(data):
    if isinstance(data, dict):
        create_data_from_dict(data)

    if isinstance(data, list):
        create_data_from_list(data)

    else:
        NotImplementedError(f"Type {type(data)} is unsupported")


def create_data_from_dict(data: dict):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)


def create_data_from_list(data: list):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns=["a", "b"])

In [83]:
data = {"a": [1, 2, 3], "b": [4, 5, 6]}
create_data(data)

Data is created from a <class 'dict'>.

   a  b
0  1  4
1  2  5
2  3  6

In [84]:
data2 = [(1, 4), (2, 5), (3, 6)]
create_data(data2)

Data is created from a <class 'list'>.

   a  b
0  1  4
1  2  5
2  3  6

In [77]:
from functools import singledispatch

@singledispatch
def create_data(data):
    raise NotImplementedError(f"Type {type(data)} is unsupported")

@create_data.register
def create_data_from_dict(data: dict): 
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)

@create_data.register
def create_data_from_list(data: list):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns=["a", "b"])

In [86]:
data = {"a": [1, 2, 3], "b": [4, 5, 6]}

create_data(data)

Data is created from a <class 'dict'>.

   a  b
0  1  4
1  2  5
2  3  6

In [87]:
data2 = [(1, 4), (2, 5), (3, 6)]
create_data(data2)

Data is created from a <class 'list'>.

   a  b
0  1  4
1  2  5
2  3  6

In [80]:
data3 = ((1, 4), (2, 5), (3, 6))
create_data(data3)

NotImplementedError: Type <class 'tuple'> is unsupported

In [90]:
@singledispatch
def create_data(data):
    raise NotImplementedError(f"Type {type(data)} is unsupported")

@create_data.register(dict)
def create_data_from_dict(data): 
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)

@create_data.register(list)
@create_data.register(tuple)
def create_data_from_list(data):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns=["a", "b"])

In [91]:
data3 = ((1, 4), (2, 5), (3, 6))
create_data(data3)

Data is created from a <class 'tuple'>.

   a  b
0  1  4
1  2  5
2  3  6